body{
    background-image: url(./Assets/grass.png);
}
.logo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}

.grid{
    height: 420px;
    width: 419px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(./Assets/grass.png);
}

.grid div{
    height: 40px;
    width: 39px;
    border: #227126 solid 1px;

}

.checked{
    background-image: url(./Assets/checked.png), ;
    opacity: 1.0;
}

.bomb{
    background-color: red;
    
}

.valid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(80, 6, 16);
}

.tankTest {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-100%);
  }
  